@font-face {
    font-family: 'gtav';
    src: url(./imagens/pricedown\ bl.otf);

}


*{
    padding: 0px;
    margin: 0px;
}

body{
background-size: cover;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.822) ), url(.//imagens/01.jpg.5a28d3cad1e54b06b59c2efd10560968.jpg);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    
}

main{
display: flex;
width: 100%;
height: 100%;

align-items: center;
justify-content: center;



 
    
   

    
}

#box1{
    width: 600px;
    height: 600px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.726)), url(./imagens/gta-gta5-gtav-v-photoshop.jpg);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.596);
}
#box2{

    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 600px;
    height: 600px;
    
    background-image:  linear-gradient(45deg,#201b2c, rgb(0, 0, 0), #201b2cd3 ),  url(./imagens/wallper-box2.jpg);
    color: white;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.596);
    
    
}


h1{
    font-family: gtav, helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 45px;
    text-shadow: 0px 0px 5px rgba(255, 199, 45, 0.596);
}
#box2 label{
    display: flex;
    flex-direction: column;
    text-align: center;
   
    margin-top: 20px;
    font-size: 19px; 
    
}

input{
    margin-top: 5px;
    text-align: center;
    border-radius: 3px;
    font-size: 19px;
}

#vl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    font-size: 22px;
    font-weight: normal;
}

#vl a{
    color: white;
    text-decoration: none;
}

#vl a:hover{
    color:rgb(24, 255, 197) ;
    text-decoration: underline;
}


@media only screen and (max-width: 1200px){
    #box1{
        display: none;
    }
    #box2{
        width: 350px;
    }
}